/* .form-group {
    float: left;
    padding: 3px;
}
/* .booking-content {
    padding-right: 10px;
    padding-left: 0px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
} */
/* .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    padding: 10px;
} */
.booking-content .nav-tabs{
	border: none;
}
.nav>li>a {
    display: block;
    margin: 1px;
    padding: 25px 5px;
    height: 100%;
    width: 100%;
    background-color: #020201c7;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid rgba(161, 152, 165, 0.17);
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.12);
}
.page-header {
    padding-bottom: 0;
    margin: 0 0 0px;
    border-bottom: 1px solid #eee;
}
/* .bars {
    padding: 23px;
}
.bars {
    padding: 23px;
    background-color: #020201c7;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid rgba(161, 152, 165, 0.17);
    width: 81px;
    text-align: center;
}
.button {
    float: right;
    margin-top: -34px;
}
.btn{
	border-radius: 3px;
}

 */
 */
.main-header {
    border-bottom: 1px solid lightgrey;
}
input.form-control {
    width: 154px !important;
}
